<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bruhcollective.itaysonlab.xal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.microsoft.xal.browser.IntentHandler"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="auth"
                    android:scheme="ms-xal-000000004c12ae6f" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.xal.browser.BrowserLaunchActivity"
            android:exported="false" />

        <activity
            android:name="com.microsoft.xal.browser.WebKitWebViewController"
            android:exported="false" />
    </application>

</manifest>